
// Index
/* paytone-one-regular - latin */
@font-face {
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../assets/fonts/paytone-one-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/paytone-one-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
  }

body {
    background: radial-gradient(rgb(207, 207, 207) 5%, rgb(30, 124, 38) 95%);
    font-family: 'Bakbak One', cursive;
    color: white;
}

.header {
    text-align: center;
    height: 20%;
}

.main {
    text-align: center;
    height: 60%;
}

.footer {
    text-align: center;
    height: 12em;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;

    h2 {
        align-self: center;
        margin-left: 1em;
    }

    .social-media {
        display: flex;
        justify-content: end;
        align-items: center;

        a {

            text-decoration: none;

            p {
                margin: 0;
                color: white;
                font-weight: bold;
            }

            figure {
                margin: 0 2em;
            }

            img {
                width: 80px;
            }
        }
    }
}

@media (max-width: 600px) {
    .footer {
        height: auto;
        display: block;
        text-align: center;

        .social-media {
            flex-direction: column;
            a {
                margin: 1em 0;
            }
        } 
    }
}

canvas {
    background-color: white;
    border: 4px rgb(35, 146, 44) solid;
    border-radius: 5%;
}




